<h2>Productos con WebSocket</h2>
<hr>

{{!-- <br>
<a href="/">Home Page</a> --}}

{{>menu}}

{{!-- <script src="/js/purify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script> 