<br>
<br>
<nav>
    <ul>
        <li>
            <a href="/">Home Page</a>
        </li>
        <li>
            <a href="/realtimeproducts">Real Time Products</a>
        
        </li>

        <li>
            <a href="/index">Index</a>
        
        </li>
    </ul>
</nav>